---
import Layout from "./Layout.astro";
import { userData, userPerms } from "../userStore"

interface Props {
    title: string;
}
const { title } = Astro.props;

const token = Astro.cookies.get("token")?.value;
// if userdata is somehow not set, set it from token
if ( token && !userData.get().UserID ) {
    const payload = JSON.parse(atob(token.split('.')[1])); // Token payload
    userData.set({
        Username: payload.username,
        UserID: payload.user_id
    })

    const userPermsResponse = await fetch(`${import.meta.env.API_URL}/user/${userData.get().UserID}/permissions`);
    if (userPermsResponse.ok) {
        const userPermsData = await userPermsResponse.json();
        userPerms.set(userPermsData.body);
        console.log(userPerms.get());
    }
}
---

<Layout title={title}>
    <article class="h-full grid rows-auto-1fr">
        <section>
            <div class="bg-twcolor-900 text-white px-4 pt-3 pb-1">
                <a class="text-4xl" href="/">Peanut</a>
            </div>
            <nav class="bg-twcolor-950 text-white px-4 py-0.5 flex flex-row justify-between">
                <div class="flex flex-row gap-4">
                    <a href="/posts">posts</a>
                    <p>&#9733;</p>
                    <a href="/upload">upload</a>
                    <p>&#9733;</p>
                    <a href="/about">about</a>
                </div>
                <div class="flex flex-row gap-4">
                    {userData.get().UserID?
                        <a href=`/user/${userData.get().UserID}`>Welcome, {userData.get().Username}</a>
                        <p>&#9733;</p>
                        <a href=`/logout`>logout</a>
                        :
                        <a href="/login">login</a>
                        <p>&#9733;</p>
                        <a href="/signup">sign up</a>
                    }
                </div>
            </nav>
        </section>
        <slot />

    </article>
</Layout>