---
// Post card: post thumbnails displayed in the post browsing page.
const { postThumb } = Astro.props;
import type {PostThumb} from "../global/types";

interface Props {
    postThumb: PostThumb
}

const imagePath = `${import.meta.env.STATIC_URL}${postThumb.image_path}`
const freeflow: boolean = false;
---

<a class={`${!freeflow && "w-48"} h-32 border-2 border-twcolor-950 bg-twcolor-100`}
   href={`/post/${postThumb.id}`}>
    <img src={imagePath} alt={`Post ${postThumb.id}`} class="w-full h-full object-cover"/>
</a>